.input {
    background-color: #ff00ff;
}

.item {
    background-color: #ffff00;
}

.header {
    /* background-color: #00ff00; */
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e9ecef;

    h1 {
        margin: 0;
        font-size: 36px;
        color: #343a40;
    }
}

.day {
    margin-top: 4px;
    color: #868e96;
    font-size: 21px;
}

.red {
    color: red;
}

.tasks-left {
    color: #20c997;
    font-size: 18px;
    margin-top: 40px;
    font-weight: bold;
}

.footer {
    background-color: #00ffff;
}

.list {
    background-color: #0000ff;
}